<div class="login-page" [@routerTransition]>
    <div class="row">
    <div class="col-md-4 push-md-4">
    <img src="assets/images/logo.png" width="150px" class="user-avatar" />
    <h1>NinjaHack Argentina</h1>
    <button (click)="googleLogin()" class="btn btn-block btn-social btn-google">
        <span class="fa fa-google"></span> Log in con Google
    </button>
    <button (click)="facebookLogin()" class="btn btn-block btn-social btn-facebook">
        <span class="fa fa-facebook"></span> Log in con Facebook
    </button>
    </div>
    </div>
</div>
